@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1e1e;
}

#Name {
  animation-name: Fall;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
#Home {
  animation-name: Fall;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}
#Experiences {
  animation-name: Fall;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
}
#Projects {
  animation-name: Fall;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
#Contact {
  animation-name: Fall;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1.1s;
}
#Mode {
  animation-name: Fall;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 1.4s;
}

@keyframes Fall {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(5px);
    opacity: 1;
  }
}
